<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894481451880-icj7q7mi7erdag8u1b0migvkm0ce1n65.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894481451880-icj7q7mi7erdag8u1b0migvkm0ce1n65</string>
	<key>API_KEY</key>
	<string>AIzaSyCF8WZPdsh4ghTXsgsjhtdThd0CCekNcRk</string>
	<key>GCM_SENDER_ID</key>
	<string>894481451880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carSharev1</string>
	<key>PROJECT_ID</key>
	<string>carsharev2</string>
	<key>STORAGE_BUCKET</key>
	<string>carsharev2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894481451880:ios:0283adf1b51822246ea4dd</string>
	<key>DATABASE_URL</key>
	<string>https://carsharev2-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>